<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRckIHka2CDZERLYc4fMnNu2ImUQ4kJJY</string>
	<key>GCM_SENDER_ID</key>
	<string>685650143431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.unityFunds</string>
	<key>PROJECT_ID</key>
	<string>unity-funds</string>
	<key>STORAGE_BUCKET</key>
	<string>unity-funds.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685650143431:ios:07219903c1e71ec1b3b6e2</string>
</dict>
</plist>